// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background-color: white;
  font-family: sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: normal;
}

.container {
  width: 780px;
}

.generated-letters {
  padding: 10px 0;
  text-align: center;
}

.user-input {
  padding: 20px 0;
}

.generated-letters span {
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #4169e1;
  border: 1px solid #E8EFF4;
  width: 40px;
  height: 40px;
  margin: 5px;
  padding: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  &:first-child {
    margin-left: 0px;
  }
  &:last-child {
    margin-right: 0px;
  }
}

.form-inline {
  display: flex;
}

.form-inline .answer-input{
  flex-grow: 1;
  line-height: 32px;
}

.form-inline .btn{
  font-size: 16px;
}

.reset:hover {
  color: midnightblue !important;
}
